# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

# local env files
.env
.env.*
.env*.local

# typescript
*.tsbuildinfo

# generated / sample
app-example/

# generated native folders
/ios
/android

# backend
backend/node_modules/
backend/uploads/
backend/.env

# ML models
*.tflites

# editor folders
.claude/
.vscode/